<%= render partial: 'user', locals: { user: @user } %>
<div class="p-2 border mb-4">
  <h1>Bio</h1>
  <p class="mt-4"><%= @user.bio %></p>
</div>
<ul>
  <%= render partial: 'posts/post', collection: @posts %>
</ul>
<div class="flex justify-center">
  <button class="border p-1">See all posts</button>
</div>
