<%= render partial: 'user', locals: { user: @user } %>
<div class="p-2 border mb-4">
  <h1>Bio</h1>
  <p class="mt-4"><%= @user.bio %></p>
</div>
<ul class="flex flex-col gap-y-2 mb-2">
  <%= render partial: 'posts/post', collection: @posts, locals: { comments: [] } %>
</ul>
<div class="flex justify-center">
  <a href="<%= posts_of_user_path(user_id: @user.id) %>" class="border p-1">See all posts</a>
</div>
