<%= render partial: 'users/user', locals: {user: @user} %>
<ul class="flex flex-col gap-y-2">
  <% unless @posts.empty? %>
    <% @posts.includes(:comments).each do |post| %>
      <%= render partial: 'post', locals: { post: post, comments: post.recent_comments.includes(:author) } %>
    <% end %>
    <% else %>
    <span>This user has no post yet.</span>
  <% end %>
</ul>
